################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MMY.PlatForm.Domain/bin/Debug
