################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MMY.PlatForm.Domain/bin/Debug
/MMY.PlatForm.WebUI/bin/MMY.Data.dll.config
/MMY.PlatForm.WebUI/bin/MMY.PlatForm.Domain.dll.config
/MMY.PlatForm.WebUI/bin/MMY.Services.dll.config
